# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
server.log
test.log

# Dependency directories
node_modules/

# Build output
backend/dist/
frontend/.next/
frontend/out/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Added by Claude Task Master
# Task files
tasks.json
tasks/ 

# sveltekit
.svelte-kit/

# Lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb 